<div class='parent'>
    <label for='hy'>You must provide a <code>copyItem</code> function if you're using <code>copy</code> with <code>[dragulaModel]</code>.</label>
    <div class='wrapper'>
        <div class='container' dragula="PERSON" id="left" [(dragulaModel)]="left">
          @for (person of left; track person) {<div>{{person | json}}</div>}
        </div>
        <div class='container' dragula="PERSON" id="right" [(dragulaModel)]="right">
          @for (person of right; track person) {<div>{{person | json}}</div>}
        </div>
    </div>
    <pre><code>{{ code }}</code></pre>
</div>
